@use '../../styles/mixins' as mixins;

:host {
  --sunmarino-card-background: var(--Base-color_Base_Light_Gray, var(--sunmarino-color-btn-bg-light-hover));
  border-radius: var(--radius-radius_LG, var(--sunmarino-radius-base));
  overflow: clip;
  display: block;
  container-type: inline-size;
}

.root {
  display: grid;
  height: 100%;
  margin: 0;
  grid-template-rows: auto 1fr;
}

::slotted([slot='media']) {
  display: block;
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--padding-padding_LG, var(--sunmarino-padding-l));
  background: var(--sunmarino-card-background);
}

.title {
  margin-bottom: var(--sunmarino-margin-s);
  font-size: var(--sunmarino-heading-h5-font-size);
  line-height: 1.2;
}

.text {
  font-size: var(--sunmarino-type-n-font-size);
  line-height: calc(var(--sunmarino-type-n-line-height) / var(--sunmarino-type-n-font-size));
}

::slotted([slot='title']),
::slotted([slot='text']) {
  margin: 0;
  color: inherit;
  font: inherit;
}

.actions {
  display: grid;
  gap: var(--sunmarino-space-s);
  margin-top: auto;
  padding-top: var(--sunmarino-padding-l);
}

.actions[hidden] {
  display: none;
}

@include mixins.container-min(bp-1024) {
  .actions {
    width: fit-content;
  }

  .root {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }

  :host([reversed]) .media {
    grid-column: 2;
    grid-row: 1;
  }

  :host([reversed]) .content {
    grid-column: 1;
    grid-row: 1;
  }

  .content {
    justify-content: center;
  }

  .actions {
    margin-top: var(--sunmarino-margin-l);
    padding-top: 0;
  }

  ::slotted([slot='media']) {
    --sunmarino-image-height: 100%;

    height: 100%;
    object-fit: cover;
  }
}
