@use '../../styles/mixins' as mixins;

:host {
  display: block;
}

.root {
  display: block;
}

.items-slot {
  display: block;
}

::slotted(sunmar-accordion-item) {
  display: block;
  margin-block-end: var(--sunmar-space-s);
}

@include mixins.media-min(bp-768) {
  .root {
  }

  .items-slot {
  }

  ::slotted(sunmar-accordion-item) {
    margin-block-end: var(--sunmar-space-n);
  }
}

@include mixins.media-min(bp-1024) {
  .root {
  }

  .items-slot {
  }

  ::slotted(sunmar-accordion-item) {
  }
}

@include mixins.media-min(bp-1280) {
  .root {
  }

  .items-slot {
  }

  ::slotted(sunmar-accordion-item) {
  }
}

@include mixins.media-min(bp-1440) {
  .root {
  }

  .items-slot {
  }

  ::slotted(sunmar-accordion-item) {
  }
}
