@use '../../styles/mixins' as mixins;

:host {
  display: block;
}

.root {
  display: block;
}

.items-slot {
  display: block;
}

::slotted(sunmar-accordion-item) {
  display: block;
  margin-block-end: var(--sunmar-space-s);
}

@include mixins.media-min(bp-768) {
  ::slotted(sunmar-accordion-item) {
    margin-block-end: var(--sunmar-space-n);
  }
}
