@use './mixins' as mixins;

@mixin host($vertical-align: null) {
  display: inline-flex;

  @if $vertical-align != null {
    vertical-align: $vertical-align;
  }
}

@mixin control {
  font-family: inherit;
  font-size: var(--sunmar-type-btn-l-font-size);
  line-height: var(--sunmar-type-btn-l-line-height);
  font-weight: 700;
  @include mixins.text-balance;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding-block: var(--sunmar-padding-s);
  padding-inline: calc(var(--sunmar-padding-xl) + var(--sunmar-padding-3xs));
  border: 1px solid transparent;
  border-radius: var(--sunmar-radius-xxl);
  cursor: pointer;
  appearance: none;
  text-decoration: none;
  transition:
    background-color 160ms ease,
    background-image 160ms ease,
    color 160ms ease,
    border-color 160ms ease,
    transform 120ms ease;
}
