:where(.sunmarino) {
  padding-block: 20px;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 768px) {
    padding-block: 40px;
  }

  @media (min-width: 993px) {
    padding-inline: 0;
  }
}

:where(.sunmarino.kv) {
  padding-inline: 0;
  padding-top: 0;

  @media (min-width: 768px) {
    padding-top: 16px;
    padding-inline: 16px;
  }

  @media (min-width: 992px) {
    padding-inline: 0;
  }
}

.row-container.layout-container-limit.center:has(sunmar-kv[full-width]) {
  padding-inline: 0;
  overflow: visible;
}
