:host {
  display: block;
}

.grid {
  --sunmar-cards-grid-current-columns: var(--sunmar-cards-grid-columns);

  display: grid;
  grid-template-columns: repeat(var(--sunmar-cards-grid-current-columns), minmax(0, 1fr));
  gap: var(--sunmar-cards-grid-gap, var(--sunmar-space-l));
}

::slotted(*) {
  min-width: 0;
}

@media (min-width: 768px) {
  .grid {
    --sunmar-cards-grid-current-columns: var(--sunmar-cards-grid-columns-768);
  }
}

@media (min-width: 1024px) {
  .grid {
    --sunmar-cards-grid-current-columns: var(--sunmar-cards-grid-columns-1024);
  }
}

@media (min-width: 1280px) {
  .grid {
    --sunmar-cards-grid-current-columns: var(--sunmar-cards-grid-columns-1280);

    gap: var(--sunmar-cards-grid-gap-1280, var(--sunmar-space-xl));
  }
}
