:root {
  --sunmar-breakpoint-bp-396: 396px;
  --sunmar-breakpoint-bp-768: 768px;
  --sunmar-breakpoint-bp-1024: 1024px;
  --sunmar-breakpoint-bp-1280: 1280px;
  --sunmar-breakpoint-bp-1400: 1400px;
}
