:root {
  --sunmar-color-brand-blue: #21366a;
  --sunmar-color-brand-red: #e9292c;

  --sunmar-color-base-light: #ffffff;
  --sunmar-color-base-light-alt1: #dfdfe8;
  --sunmar-color-base-light-alt2: #feeee7;
  --sunmar-color-base-light-gray: #f8f8f8;
  --sunmar-color-base-icon: #0e2855;
  --sunmar-color-base-system: #9747ff;

  --sunmar-color-text-dark: #000000;
  --sunmar-color-text-light: #ffffff;
  --sunmar-color-text-light-alt: #656565;

  --sunmar-color-btn-bg-primary-default: #d8242a;
  --sunmar-color-btn-bg-primary-pressed: #c11117;
  --sunmar-color-btn-bg-secondary-default: #0e2855;
  --sunmar-color-btn-bg-secondary-hover: #12336c;
  --sunmar-color-btn-bg-secondary-pressed: #061a3e;
  --sunmar-color-btn-bg-light-default: #ffffff;
  --sunmar-color-btn-bg-light-hover: #f5f5f8;
  --sunmar-color-btn-bg-light-pressed: #dfdfe8;
  --sunmar-color-btn-text-dark: #000000;
  --sunmar-color-btn-text-light: #ffffff;
  --sunmar-color-btn-stroke-light: #e5e5e5;

  --sunmar-color-gradient-primary-first: #e7317d;
  --sunmar-color-gradient-primary-second: #d8242a;
  --sunmar-gradient-primary: linear-gradient(135deg, #e7317d 0%, #d8242a 100%);

  --sunmar-color-quick-search-bg: #2e3465;
  --sunmar-color-quick-search-input-stroke: #8484a5;
}
