:root {
  --sunmar-grid-desktop-l: 1920px;
  --sunmar-grid-desktop-s: 1280px;
  --sunmar-grid-tablet-h: 1024px;
  --sunmar-grid-tablet-v: 768px;
  --sunmar-grid-mobile: 428px;
  --sunmar-grid-desktop-l-content: 1368px;
  --sunmar-grid-desktop-s-content: 1104px;
  --sunmar-grid-tablet-h-content: 864px;
  --sunmar-grid-tablet-v-content: 608px;
  --sunmar-grid-mobile-content: 396px;
}
