:root {
  --sunmar-radius-base: 16px;
  --sunmar-radius-xxxs: 2px;
  --sunmar-radius-xxs: 4px;
  --sunmar-radius-xs: 8px;
  --sunmar-radius-s: 12px;
  --sunmar-radius-m: 20px;
  --sunmar-radius-l: 24px;
  --sunmar-radius-xl: 32px;
  --sunmar-radius-xxl: 40px;
  --sunmar-radius-xxxl: 48px;
}
