:root {
  --sunmarino-space-3xs: 2px;
  --sunmarino-space-2xs: 4px;
  --sunmarino-space-xs: 8px;
  --sunmarino-space-s: 12px;
  --sunmarino-space-n: 16px;
  --sunmarino-space-m: 20px;
  --sunmarino-space-l: 24px;
  --sunmarino-space-xl: 32px;
  --sunmarino-space-2xl: 40px;
  --sunmarino-space-3xl: 48px;
  --sunmarino-space-4xl: 52px;

  --sunmarino-padding-3xs: 2px;
  --sunmarino-padding-2xs: 4px;
  --sunmarino-padding-xs: 8px;
  --sunmarino-padding-s: 12px;
  --sunmarino-padding-n: 16px;
  --sunmarino-padding-m: 20px;
  --sunmarino-padding-l: 24px;
  --sunmarino-padding-xl: 32px;
  --sunmarino-padding-2xl: 40px;
  --sunmarino-padding-3xl: 48px;
  --sunmarino-padding-4xl: 52px;

  --sunmarino-margin-3xs: 2px;
  --sunmarino-margin-2xs: 4px;
  --sunmarino-margin-xs: 8px;
  --sunmarino-margin-s: 12px;
  --sunmarino-margin-n: 16px;
  --sunmarino-margin-m: 20px;
  --sunmarino-margin-l: 24px;
  --sunmarino-margin-xl: 32px;
  --sunmarino-margin-2xl: 40px;
  --sunmarino-margin-3xl: 48px;
  --sunmarino-margin-4xl: 52px;
}
