:root {
  --sunmar-space-3xs: 2px;
  --sunmar-space-2xs: 4px;
  --sunmar-space-xs: 8px;
  --sunmar-space-s: 12px;
  --sunmar-space-n: 16px;
  --sunmar-space-m: 20px;
  --sunmar-space-l: 24px;
  --sunmar-space-xl: 32px;
  --sunmar-space-2xl: 40px;
  --sunmar-space-3xl: 48px;
  --sunmar-space-4xl: 52px;

  --sunmar-padding-3xs: 2px;
  --sunmar-padding-2xs: 4px;
  --sunmar-padding-xs: 8px;
  --sunmar-padding-s: 12px;
  --sunmar-padding-n: 16px;
  --sunmar-padding-m: 20px;
  --sunmar-padding-l: 24px;
  --sunmar-padding-xl: 32px;
  --sunmar-padding-2xl: 40px;
  --sunmar-padding-3xl: 48px;
  --sunmar-padding-4xl: 52px;

  --sunmar-margin-3xs: 2px;
  --sunmar-margin-2xs: 4px;
  --sunmar-margin-xs: 8px;
  --sunmar-margin-s: 12px;
  --sunmar-margin-n: 16px;
  --sunmar-margin-m: 20px;
  --sunmar-margin-l: 24px;
  --sunmar-margin-xl: 32px;
  --sunmar-margin-2xl: 40px;
  --sunmar-margin-3xl: 48px;
  --sunmar-margin-4xl: 52px;
}
