:root {
  --sunmar-font-family: 'Museo Sans Cyrl', 'Segoe UI', sans-serif;
  --sunmar-font-size-base: 16px;

  --sunmar-type-s-font-size: 12px;
  --sunmar-type-s-line-height: 20px;
  --sunmar-type-n-font-size: 16px;
  --sunmar-type-n-line-height: 24px;
  --sunmar-type-l-font-size: 20px;
  --sunmar-type-l-line-height: 28px;
  --sunmar-type-xl-font-size: 24px;
  --sunmar-type-xl-line-height: 32px;
  --sunmar-type-xxl-font-size: 32px;
  --sunmar-type-xxl-line-height: 36px;
  --sunmar-type-btn-s-font-size: 12px;
  --sunmar-type-btn-s-line-height: 20px;
  --sunmar-type-btn-l-font-size: 16px;
  --sunmar-type-btn-l-line-height: 24px;
  --sunmar-type-dropdown-font-size: 14px;
  --sunmar-type-dropdown-line-height: 20px;

  --sunmar--text-font-size: 16px;
  --sunmar--text-line-height: 20px;
  --sunmar-heading-h6-font-weight: 600;
  --sunmar-heading-h6-letter-spacing: 0;
  --sunmar-heading-h5-font-size: 24px;
  --sunmar-heading-h5-line-height: 28px;
  --sunmar-heading-h5-font-weight: 600;
  --sunmar-heading-h5-letter-spacing: 0;
  --sunmar-heading-h4-font-size: 28px;
  --sunmar-heading-h4-line-height: 32px;
  --sunmar-heading-h4-font-weight: 600;
  --sunmar-heading-h4-letter-spacing: 0;
  --sunmar-heading-h3-font-size: 32px;
  --sunmar-heading-h3-line-height: 36px;
  --sunmar-heading-h3-font-weight: 600;
  --sunmar-heading-h3-letter-spacing: 0;
  --sunmar-heading-h2-font-size: 40px;
  --sunmar-heading-h2-line-height: 44px;
  --sunmar-heading-h2-font-weight: 600;
  --sunmar-heading-h2-letter-spacing: 0;
  --sunmar-heading-h1-font-size: 48px;
  --sunmar-heading-h1-line-height: 52px;
  --sunmar-heading-h1-font-weight: 600;
  --sunmar-heading-h1-letter-spacing: 0;
  --sunmar-heading-kv-font-size: 56px;
  --sunmar-heading-kv-line-height: 60px;
  --sunmar-heading-kv-font-weight: 500;
  --sunmar-heading-kv-letter-spacing: 0;
}
