@use '../../styles/mixins' as mixins;

:host {
  --sunmarino-tabs-gap: var(--sunmarino-space-xs);
  display: block;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--sunmarino-tabs-gap);
}

@include mixins.media-min(bp-1024) {
  .nav { flex-wrap: nowrap; }
}
