@use '../../styles/mixins' as mixins;

:host {
  display: block;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title,
.text,
.actions {
  width: 100%;
}

.text {
  margin-top: var(--sunmar-padding-xl);
}

.actions {
  margin-top: var(--sunmar-padding-xl);
}

::slotted([slot='title']),
::slotted([slot='text']) {
  margin: 0;
}
