:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.picture {
  display: block;
  width: 100%;
  height: 100%;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}
