:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.picture {
  display: block;
  width: 100%;
  height: 100%;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: var(--sunmar-image-object-fit, cover);
  object-position: var(--sunmar-image-object-position, center center);
  position: absolute;
  inset: 0;
}
