:host {
  display: inline-flex;
  align-items: center;
  flex-direction: var(--sunmarino-button-group-direction, row);
  flex-wrap: wrap;
  gap: var(--sunmarino-button-group-gap, var(--sunmarino-space-s));
}
