@use '../../styles/mixins' as mixins;

:host {
  display: block;
  color: var(--sunmar-kv-content-color, var(--sunmar-color-text-light));
}

.root {
  position: relative;
  overflow: clip;
  min-height: 556px;
}

.media {
  position: absolute;
  inset: 0;
}

.video-config-slot {
  display: none;
}

.picture {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: clip;
  z-index: 1;
}

.video {
  @include mixins.absolute-content();
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 2;
}

.video.playback {
  opacity: 1;
}

.video-frame {
  @include mixins.absolute-content();
}

.video-frame iframe {
  position: absolute;
  width: var(--sunmar-kv-video-width, 100%);
  height: var(--sunmar-kv-video-height, 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: stretch;
  min-height: 556px;
  padding: 48px 32px;
  color: inherit;
}

.content-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  width: min(100%, var(--sunmar-kv-content-max-width, 100%));
}

.eyebrow,
.title,
.text,
.actions {
  width: 100%;
}

::slotted([slot='image']) {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

::slotted([slot='eyebrow']) {
  display: block;
  margin: 0 0 var(--sunmar-margin-s) 0;
  color: var(--sunmar-kv-eyebrow-color, inherit);
}

::slotted([slot='title']) {
  display: block;
  margin: 0 0 16px 0;
  color: var(--sunmar-kv-title-color, inherit);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
}

::slotted([slot='text']) {
  display: block;
  margin: 0;
  color: var(--sunmar-kv-text-color, inherit);
  font-size: 16px;
  line-height: calc(var(--sunmar--text-line-height) / var(--sunmar--text-font-size));
}

.actions {
  margin-top: 32px;
}

::slotted([slot='actions']) {
  display: block;
}

@include mixins.media-min(bp-768) {
  .root,
  .content {
    min-height: 320px;
  }

  .root {
    border-radius: var(--sunmar-radius-base);
  }

  .content {
    padding: 48px 40px;
    align-items: center;
  }
}

@include mixins.media-min(bp-1024) {
  .root,
  .content {
    min-height: 360px;
  }

  .content {
    padding: 48px;
  }

  ::slotted([slot='title']) {
    margin-bottom: 24px;
  }
}

@include mixins.media-min(bp-1280) {
  .root,
  .content {
    min-height: 400px;
  }

  .content {
    padding: 48px 80px;
  }
}

@include mixins.media-min(bp-1440) {
  .root,
  .content {
    min-height: 500px;
  }

  ::slotted([slot='title']) {
    font-size: 56px;
    margin-bottom: 32px;
    line-height: 1.1;
  }
}

