@use '../../styles/mixins' as mixins;

:host {
  display: block;
  color: var(--sunmarino-kv-content-color, var(--sunmarino-color-text-light));
}

:host([full-width]) {
  .root {
    width: 100vw;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    border-radius: 0;
    max-height: 520px;
  }


  .content {
    max-width: 1530px;
    margin: 0 auto;
    width: 100%;
  }
}

.root {
  position: relative;
  display: grid;
  overflow: clip;
  aspect-ratio: 87 / 113;
}

.media {
  position: absolute;
  inset: 0;
}

.picture {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: clip;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: stretch;
  min-height: 100%;
  padding: var(--sunmarino-padding-3xl) var(--sunmarino-padding-xl);
  color: inherit;
}

.content-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.eyebrow,
.title,
.text {
  width: 100%;
}

::slotted([slot='image']) {
  --sunmarino-image-height: 100%;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

::slotted([slot='eyebrow']) {
  display: block;
  margin: 0 0 var(--sunmarino-margin-n) 0;
  color: var(--sunmarino-kv-eyebrow-color, inherit);
}

::slotted([slot='title']) {
  display: block;
  margin: 0 0 var(--sunmarino-margin-n) 0;
  color: var(--sunmarino-kv-title-color, inherit);
  font-size: var(--sunmarino-heading-h2-font-size);
  font-weight: 400;
  line-height: 1.1;
}


::slotted([slot='text']) {
  display: block;
  margin: 0;
  color: var(--sunmarino-kv-text-color, inherit);
  font-size: var(--sunmarino-text-font-size);
  line-height: calc(var(--sunmarino-text-line-height) / var(--sunmarino-text-font-size));
}

::slotted([slot='actions']) {
  margin: var(--sunmarino-margin-xl) 0 0 0;
}

@include mixins.media-min(bp-768) {
  .root {
    aspect-ratio: 608 / 320;
    border-radius: var(--sunmarino-radius-base);
  }


  .content {
    padding: var(--sunmarino-padding-3xl) var(--sunmarino-padding-2xl);
    align-items: center;
  }
}

@include mixins.media-min(bp-1024) {
  .root {
    aspect-ratio: 872 / 360;
  }

  .content {
    padding: var(--sunmarino-padding-3xl);
  }
}

@include mixins.media-min(bp-1280) {
  .root {
    aspect-ratio: 1120 / 400;
  }

  .content {
    padding: var(--sunmarino-padding-3xl) 80px;
  }
}

@include mixins.media-min(bp-1440) {
  .root {
    aspect-ratio: 1360 / 500;
  }

  ::slotted([slot='title']) {
    font-size: var(--sunmarino-heading-kv-font-size);
    line-height: 1.1;
  }
}
